---
import Breadcrumb from "@/components/Breadcrumb.astro";
import { SITE } from "@/config";
import { withBase } from "@/utils/getPath";

type StringTitle = { pageTitle: string };
type ArrayTitle = { pageTitle: [string, string]; titleTransition: string };

type Props = (StringTitle | ArrayTitle) & { pageDesc?: string };

const { props } = Astro;

const backUrl = SITE.showBackButton ? Astro.url.pathname : withBase("/");
---

<Breadcrumb />
<main data-backUrl={backUrl} id="main-content" class="content-layout pb-14">
  {
    "titleTransition" in props ? (
      <h1 class="text-4xl font-black tracking-[-0.05em] sm:text-[3rem]">
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1 class="text-4xl font-black tracking-[-0.05em] sm:text-[3rem]">
        {props.pageTitle}
      </h1>
    )
  }
  <p class="mt-4 max-w-2xl text-lg leading-8 text-muted-foreground">
    {props.pageDesc}
  </p>
  <div class="mt-10">
    <slot />
  </div>
</main>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent: HTMLElement | null =
      document.querySelector("#main-content");
    const backUrl = mainContent?.dataset?.backurl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
